@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* ESTILOS GENERALES */
:root {
    --dark:#242424;
    --red: rgb(247, 82, 82);
    --grey: rgb(153, 153, 153);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Quicksand';
}
body, html {
    height: 100%;
}
html {
    scrollbar-width: thin; 
    scrollbar-color: var(--red) transparent;
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-areas: 
      "header   header"
      "menu     main"
      "footer   footer";
    grid-template-columns: 130px 1fr;
    grid-template-rows: 130px auto;
    background-color: var(--grey);
    transition: all 1s;
}
img {
    user-select: none;
}
main {
    grid-area: main;
}

/* HEADER */
header {
    grid-area: header;
    background: linear-gradient(to left, rgb(255, 78, 78),rgb(124, 124, 124), var(--dark));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
    transition: height 1s;
    user-select: none;
}
header h1{
    font-size: 40px;
    font-family: "Poppins";
    transition: all 1s ease-in-out;
}
header span {
    font-size: 55px;
    font-weight: bold;
}
#logo {
    width: 110px;
    height: auto;
}
#s1972 {
    width: 145px;
    height: auto;
}

/* MENÚ LATERAL */
#menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 135px;
    width: 160px;
    max-height: 75vh;
    margin-top: 20px;
    background-color: var(--dark);  
    border-radius: 0 20px 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl; 
    scrollbar-width: thin; 
    scrollbar-color: rgb(202, 71, 71) transparent;
    transition: width 1s, top 0.75s;
}
nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
nav ul li{
    margin: 15px;
    background: linear-gradient(to left, rgb(80, 80, 80), rgb(255, 156, 156));
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    border-radius: 20px;
    color: rgb(39, 39, 39);
    font-size: 23px;
    user-select: none;
    transform: scale(1);
    transition: all 0.4s;
    text-align: center;
}
nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
    cursor: pointer;
    border: solid 2px white;
}
.active {
    background: linear-gradient(to left, var(--grey), var(--red));
    color: rgb(255, 255, 255);
    border-radius: 20px 0 0 20px;
    width: 127px;
    transform: translateX(17px);
}
.active:hover {
    transform: scale(1);
    transform: translateX(17px);
    border-right: none;
}

/* FOOTER */
footer {
    grid-area: footer;
    background-color: var(--dark)  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    list-style: none;
    color: white;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 20px;
}
footer h3{
    margin-bottom: 15px;
}
div ul li a {
    color: rgb(85, 144, 255);
}
div ul li a:hover {
    color: rgb(159, 193, 255);
}
.redes, .enlaces{
    margin-right: 20px;
}
.redes ul li, .enlaces ul li {
    margin-bottom: 10px;
}