footer {
    padding: 15px;
}
main {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 800px;
    height: 600px;
    padding: 0;
    margin-bottom: 20px;
}
#secciones {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    cursor: pointer;
    font-size: 1.7rem;
}
.boton {
    font-weight: bold;
    color: white;
    transition: all 1s;
    width: 32%;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}
.activo {
    background-color: var(--red);
    transform: translateY(13px);
    border-radius: 4px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}
.boton:not(.activo):hover {
    background-color: rgb(58, 58, 58);
    transition: all 1s;
}

.club-section {
    display: none;
}
.seccionActiva {
    display: flex;
    flex-direction: column;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 50px;
    background-color: rgb(240, 240, 240);
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    border: solid var(--dark);
    margin-top: 20px;
}
#content p {
    font-size: 1.2rem;
    margin-top: 10px;
}

iframe {
    align-self: center;
    border-radius: 20px;
    border: solid var(--dark);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.6);
    margin-top: 30px;
}

#message {
    resize: none;
}
label {
    font-size: 1.2rem;
}
input, textarea {
    padding: 6px;
    border-radius: 8px;
}
textarea {
    width: 400px;
}
#inst {
    color: var(--red);
    cursor: pointer;
    font-weight: bold;
}
#contacto button{
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
}

#contacto button:hover{
    background-color: var(--red);
    transition: all 0.5s;
}

.img-info {
    display: none;
}
