/* HEADER */
header {
    grid-area: header;
    background: linear-gradient(to left, rgb(255, 78, 78), rgb(124, 124, 124), var(--dark));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
}
h1 {
    font-size: 40px;
    font-family: "Poppins";
    transition: all 1s ease-in-out;
}
span {
    font-size: 55px;
}
#logo {
    width: 110px;
    height: auto;
}
#s1972 {
    width: 145px;
    height: auto;
}
span {
    font-weight: bold;
}

/* MENÚ LATERAL */
#menu {
    grid-area: menu;
    position: fixed;
    top: 135px;
    width: 140px;
    margin-top: 20px;
    background-color: var(--dark);
    border-radius: 0 20px 20px 0;
    transition: width 1s;
    border: solid 1px white;
    border-left: none;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 15px;
    background: linear-gradient(to left, rgb(170, 170, 170), rgb(255, 79, 79));
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 90px;
    border-radius: 30px;
    color: rgb(39, 39, 39);
    font-size: 25px;
    user-select: none;
    transform: scale(1);
    transition: all 0.4s;
    text-align: center;
}
nav ul li:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: solid 2px white;
    background: linear-gradient(to left, rgb(190, 190, 190), var(--red));
    transition: transform 0.4s;
}

@media (max-width: 1350px) {
    #s1972 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .tarjeta {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 0px;
        width: 270px;
        height: 400px;
    }
    .imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px; 
        height: 230px; 
        border-radius: 10px;
    }
    .datos {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    .dorsal {
        font-size: 3rem;
    }
    .dor-nombre {
        display: flex;
        align-items: center;
    }
    .nombre {
        font-size: 1.4rem;
        margin-left: 15px;
    }
}


@media (max-width: 1100px) {
    .hide {
        display: none;
    }
    #menu {
        width: 100px;
        transition: width 1s;
        border-radius: 0 30px 30px 0;
    }
    nav ul li {
        margin: 8px;
        width: 70px;
        height: 70px;
        font-weight: 600;
        border-radius: 40%;
        font-size: 15px;
        transition: all 0.4s;
    }
}

@media (max-width: 750px) {
    #main-title {
        font-size: 40px;
    }
    #titulo {
        font-size: 1.5rem;
        transition: all 0.5s;
        width: 250px;
    }
    #formulario {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    #main-title {
        font-size: 30px;
    }
    #botones {
        gap: 15px;
    }
    .tarjeta {
        flex-direction: row;
        padding: 15px;
        width: 440px;
        height: 250px;
        color: white;
        border: solid 2px #ccc;
    }
    .nombre, .pais, .posicion {
        margin: 0;
    }
    .imagen {
        width: 230px; 
        height: 230px; 
    }
    .dor-nombre {
        display: flex;
        flex-direction: column;
    }
    .dorsal {
        font-size: 4rem;
        align-self: flex-start;
    }
    .nombre {
        font-size: 1.3rem;
    }
}
@media (max-width: 550px) {
    #logo {
        width: 100px;
    }
}

@media (max-width: 500px) {
    #titulo {
        margin-top: 20px;
        font-size: 1.3rem;
        width: 170px;
    }
    #menu {
        width: 70px;
        transition: width 1s;
        border-radius: 0 30px 30px 0;
    }
    nav ul li {
        margin: 6px;
        height: 50px;
        font-size: 13px;
        transition: all 0.4s;
    }
    form {
        flex-direction: column;
        gap: 10px;
        font-size: 1.4rem;
    }
    #formulario {
        width: 280px;
        padding: 5px;
    }
    #dorsales {
        font-size: 2.5rem;
    }
    form #div {
        height: 100px;
        width: 110px;
    }
    #botones {
        flex-direction: row;
        width: 280px;
    }
    
#error {
    font-size: 0.8rem;
}
    #botones button {
        width: 90px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;
        cursor: pointer;
    }
    .tarjeta {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        width: 280px;
        height: 420px;
    }
    .imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px; 
        height: 220px; 
        border-radius: 10px;
    }
    .datos {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        font-size: 1.1rem;
        margin-bottom: 0;
    }
    .dorsal {
        font-size: 3rem;
    }
    .nombre {
        font-size: 1.4rem;
    }
}

@media (max-width: 450px) {
    #main-title {
        font-size: 25px;
    }
}

@media (max-width: 360px) {
    
    #main-title {
        font-size: 20px;
    }
}

@media (max-height: 550px){
    header {
        height: 90px;
        transition: height 1s;
        position: relative;
    }
    header h1{
        font-size: 30px;
        transition: all 1s ease-in-out;
    }
    span {
        font-size: 45px;
    }
    #logo {
        width: 85px;
    }
}