main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-size: 1.4rem;
    width: 70vw;
    background-color: #e0e0e0;
    transition: width 0.5s;
}
.oscuro{
    background-color: rgb(59, 59, 59);
    transition: all 0.3s;
}
.oscuro main, .oscuro #menu{
    opacity: 0;
    transition: opacity 0.3s;
}
main h1{
    color: var(--red);
    text-align: center;
    font-size: 5rem;
    transition: font-size 2s;
}
#seccion1, #seccion2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info h3{
    font-style: italic;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}
.tarjetas {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    font-size: 2rem;
    text-align: center;
}
.tarjeta {
    background-color: var(--dark);
    width: 60%;
    height: 100px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    cursor: pointer;
    user-select: none;
}
.tarjeta:hover {
    transform: scale(1.02);
    background-color: rgb(65, 65, 65);
    transition: all 0.5s;
}
#seccion1 img {
    margin-top: 50px;
    border-radius: 20px;
    width: 85%;
    display: flex;
    align-self: center;
}
#seccion2 {
    margin-top: 150px;
    padding: 50px;
    font-size: 1.6rem;
}
#seccion2 p{
    padding: 0 30px;
}
#seccion2 h3{
    color: var(--red);
    font-size: 3rem;
    margin-bottom: 30px;
}
#liga{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 650px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(170, 170, 170);
    transition: width 1s;
    overflow-x: auto;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}
.tabla {
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    width: 600px;
    border-left: 5px solid #e2e2e2;
    background-color: #e0e0e0;  
    
}
.tabla th, .tabla td {
    padding: 8px 5px;
    border: 1px solid #dddddd; 
}
.tabla th {
    background-color: #009b7c;
    color: #ffffff;
    text-align: center;
}
.tabla tr:nth-child(even) {
    background-color: #f1f1f1;
}
.tabla tr:nth-child(2){
    border-left: solid 8px rgb(92, 177, 92);
}
.tabla tr:nth-child(3), .tabla tr:nth-child(4), .tabla tr:nth-child(5){
    border-left: solid 8px rgb(255, 197, 131);
}
.tabla tr:nth-child(12), .tabla tr:nth-child(13), .tabla tr:nth-child(14), .tabla tr:nth-child(15), .tabla tr:nth-child(16){
    border-left: solid 8px rgb(255, 97, 97);
}
.tabla tr:nth-child(3){
    font-weight: bold;
}
table tr td:not(:nth-child(2)) {
    text-align: center;
}
#container {
    margin-top: 40px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--grey);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}
#img-club {
    width: 30%; 
}
#container p {
    width: 70%; 
    background-color: rgb(235, 235, 235);
    padding: 20px;
}


/*#######################   MEDIA QUERIES   #######################*/
@media (max-width: 1500px) {
    main {
        width: 800px;
        transition: width 0.2s;
        margin-top: 0;
    }
    main h1{
        font-size: 3.5rem;
        transition: none;
    }
    .tarjetas {
        font-size: 1.5rem;
    }
    #seccion2{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    #seccion2 h3{
        font-size: 2rem;
    }
    #liga{
        width: 100%;
    }
    #container {
        padding: 40px;
        flex-direction: column;
    }
    #img-club {
        width: 70%; 
    }
    #container p {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    main {
        width: 650px;
    }
    main h1{
        font-size: 2.8rem;
    }
    .tarjetas {
        font-size: 1.3rem;
    }
    #seccion2{
        font-size: 1.2rem;
        margin-top: 30px;
    }
    #seccion2 h3{
        font-size: 1.6rem;
    }
    #liga{
        width: 100%;
        min-width: 100%;
        overflow-x: auto;
    }
    .tabla {
        font-size: 18px;
    }
    .tabla th, .tabla td {
        padding: 5px 5px; 
    }
}

@media (max-width: 800px) {
    main {
        width: 500px;
    }
    main h1{
        font-size: 2.4rem;
    }
    .info h3{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .tarjetas {
        margin-top: 10px;
        font-size: 1.4rem;
        gap: 15px;
    }
    #seccion2 h3{
        font-size: 1.6rem;
    }
    #seccion2{
        font-size: 1.1rem;
        padding: 0;
    }
    #seccion2 p{
        padding: 0 10px;
    }
    #liga{
        width: 100%;
        padding: 5px;
    }
    .tabla {
        font-size: 15px;
    }
    #container p{
        padding: 20px;
    }
}

@media (max-width: 550px) {
    main {
        width: 450px;
        margin-left: 15px;
    }
    main h1{
        font-size: 1.9rem;
    }
    .info h3{
        font-size: 1.3rem;
    }
    .tarjetas, #seccion2 {
        font-size: 1.2rem;
    }
    #seccion2 p{
        padding: 10px;
    }
    #liga{
        width: 100%;
        padding: 0px;
    }
    .tabla {
        font-size: 11px;
    }
    #container {
        padding: 15px;
    }
    #container p{
        width: 90%;
        padding: 15px;
    }
    #container img {
        width: 90%
    }
}

@media (max-width: 500px) {
    main {
        width: 400px;
        
    }
    main h1{
        font-size: 1.6rem;
    }
    .info h3{
        font-size: 1.2rem;
    }
    .tarjetas {
        font-size: 1.1rem;
    }
    .tarjeta {
        height: 70px;
        width: 80%;
    }
    #seccion1 img {
        margin-top: 30px;
        width: 100%;
    }
    #seccion2{
        font-size: 1rem;
    }
    #seccion2 p, #container p{
        padding: 10px;
    }
    #liga{
        width: 300px;
    }
    .tabla th, .tabla td {
        padding: 5px 0px; 
    }
}

@media (max-width: 450px) {
    main {
        width: 89%;
    }
    main h1{
        font-size: 1.6rem;
    }
    .info h3{
        font-size: 1.2rem;
    }
    .tarjetas {
        font-size: 1.1rem;
    }
    .tarjeta {
        height: 70px;
        width: 80%;
    }
    #seccion1 img {
        margin-top: 30px;
        width: 100%;
    }
    #seccion2{
        font-size: 1rem;
    }
    #seccion2 p, #container p{
        padding: 10px;
    }
    #liga{
        width: 300px;
    }
    .tabla th, .tabla td {
        padding: 5px 0px; 
    }
}